<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vibetape</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="static/vendor/nouislider/nouislider.min.css">
    

    <!-- Main css -->
    <link rel="stylesheet" href="static/css/odometer.css" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <style>
 

.body{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.dark{
    background-color: #191919;
    color: #ffff;


}

    </style>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="#">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="index">Home </a>
        <a class="nav-item nav-link" href="data">Data</a>
        <a class="nav-item nav-link active" href="about">About <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>

  <body class="body">
      <div class="main">
          <div class="container">
                <h1>What is Vibetape?</h1>
                <h4>Have you ever had a good idea for the perfect playlist but are just too lazy to make one? 
                    Vibetape is the perfect combination of program automation and user control as it gives users the abilitiy to customize the 
                    atrributes of their playlists while saving them the time of sitting down and ardiously adding songs to a playlist.
                </h4>

            
             
                </div>
                     
                    <div class="container">
                        <center>
                            <h1>Using Your Top Artists and Tracks</h1>
                    {% for artist in artist_image %}
                     <a><img src={{artist}} width=200 height=200></a>
                    {% endfor %}

                    {% for track in track_image %}
                   <a> <img src={{track}} width=200 height=200></a>
                    {% endfor %}
                </center>
                </div>

     
                
                
                

</div>
</div>
</div>
</body>
  



                </html>





